/*  
#ffffff valge
#ffffcc kreem
#cccccc väga hele hall
#999999 helehall
#666666 tumehall
#333333 väga tume hall

*/
/* sildi stiil */
.accordion,
.active,
.panel,
.open 
{
    padding: none;
    margin:none;
}

.accordion {
    cursor: pointer;
    /* border-radius: 22.5px; */
    width: 100%;
    text-align: left;
    padding: 15px 20px;
    border: none;
    outline: none;
    transition: 0.4s;
    margin:0px;
    margin-bottom: 2px;
    border-radius: 0px;
}

.accordion:hover {
   margin:0px;
   margin-bottom: 2px;
   border: none;
   background-color: #62B6CB;
}

.active {
    background-color: #62B6CB;
    color: #1B4965;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 17.4px;
    margin-bottom: 0;
}

.active:hover{
    background-color:  #1B4965;
    color: #62B6CB;
    margin:0px;
    border: none;
}

/* sisu stiil */
.panel{
    display: none;
}
.open {
    padding: 0px 18px;
    background-color: #62B6CB;
    display: block;
    overflow: hidden;
    /* võtan üleval lisatud paddingu jagu maha */
    width: calc(100% - 36px);
}

.accordion::after{
    /* content: '\02795'; */
    content: '+';
    color: #BEE9E8;
    font-size: 15px;
    float: right;
    margin-left: 5px;
}

.active::after{
    /* content: "\2796"; */
    content: "-"
}

