/*
#1B4965 - tume
#BEE9E8 - helerohekas sinine
#62B6CB - keskmine rohekas
#CAE9FF - helesinine
#5FA8D3 - keskime sinine
*/



* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html, body {
    width: 100%;
    height: 100%;
    background: white;
    /* fondid ilusamad nagu LHV lehel */
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

}

label {
    height: 2em;
    margin: 5px;
}

header {
  background:#BEE9E8; 
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  color: #1B4965;
}

header a {
  color: #1B4965;
  font-weight: bold;
}

#search-input{
  width: 200px;
  height:21px;
  margin: 0px;
  border-top-right-radius: 17.4px;
  border-bottom-right-radius: 17.4px;
  border-top-left-radius: 17.4px;
  border-bottom-left-radius: 17.4px;
  border-right: none;
  border: none;
  background-color: #BEE9E8;
  float: right;
}

input, select{
    /* width: calc(80%); */
    height: 2em;
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: #BEE9E8;
    border-radius: 17.4px;
    padding-left: 15px;
    padding-right: 15px;
}


/* keeran kõik vaikimisi aktiivse nupu shadow maha */
*:active, 
*:focus,
*.active{
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* search-button, add-study-button, aga kuna
need on erinevad ja määran eraldi
main > button {
} */

#search-button{
  margin: 0;
  width: 70px;
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 17.4px;
  border-bottom-right-radius: 17.4px;
  /* seda kasutad nupu suurusega mängimiseks */
  padding: 8.7px 0px;
  background-color:#1B4965;
  color: #BEE9E8;
  transition-duration: 0.4s;
  border-left: solid 1px #1B4965;
}

#add-study-button:hover,
#all-studies-button:hover,
#search-button:hover,
button:hover{
  border: none;
  background-color:#BEE9E8;
  color:#1B4965;
}

/* selle nupu conteiner */
#add-study{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* nupp */
#add-study-button {
  margin: 2px;
  border: none;
  border-radius: 17.4px;
  /* seda kasutad nupu suurusega mängimiseks */
  padding: 8.7px 12px;
  background-color:#1B4965;
  color: #BEE9E8;
  transition-duration: 0.4s;
}

#all-studies-button {
  margin: 2px;
  border: none;
  border-radius: 17.4px;
  /* seda kasutad nupu suurusega mängimiseks */
  padding: 8.7px 12px;
  background-color:#1B4965;
  color: #BEE9E8;
  transition-duration: 0.4s;
  
}

button {
  margin: 5px;
  width: 130px;
  border: none;
  border-radius: 17.4px;
  /* seda kasutad nupu suurusega mängimiseks */
  padding: 8.7px 12px;
  background-color:#1B4965;
  color: #BEE9E8;
  cursor: pointer;
  text-transform: uppercase;
}

/* salvesta uuring, salvesta shipment, salvesta tap 
*/
/* Muuda study, kustuta study, lisa saadetis, 
muuda shipment, kustuta shipment, lisa tap
muuda tap, kustuta tap */
/* search-result >button{

} */


#errorBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #e60000;
    margin: 5px;
}

#errorBox div {
    flex: 1;
    background: #ffe6e6;
    border-top: 1px solid #e60000;
    padding: 5px;
}

.study-errorBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #e60000;
  /* margin: 5px; */
}

.study-errorBox div {
  flex: 1;
  background: #ffe6e6;
  /* border-top: 1px solid #e60000; */
  /* padding: 5px; */
}

/* .shipment-errorBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #e60000;
  margin: 5px;
}

.shipment-errorBox div {
  flex: 1;
  background: #ffe6e6;
  border-top: 1px solid #e60000;
  padding: 5px;
} */

/* see on kõik mis otsingu tulemusena kuvatakse*/
#search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
}
/* see on searchnupu ja inputi ühine conteiner */
#search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.all-details{
  background-color: #BEE9E8;
  width: 500px;
  padding: 15px;
  padding-right: 0;
  margin: 10px;
  border: none;
  border-radius: 17.4px;
  border-top-right-radius: 0px;
}
.accordion-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.study-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.study-details{
margin-left: 15px;
margin-bottom: 10px;
color: #1B4965;
font-size: 20px;
}

.shipment-buttons,
.pdf-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.shipment-details{
  padding-top: 10px;
  color: #1B4965;
  font-size: 20px;
}

.shipment-details div{
  padding-top: 10px;
  padding-left: 25px;
  color: #1B4965;
  font-size: 12px;
}

.tap-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 140px;
  margin: 10px;
}

.study-template{
  display: flex;
  flex-direction: column;

}
.study-template label{
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin: 0;
  color: #1B4965;
}
.study-template input{
  margin: 5px;
}
.study-template button{
  margin: 5px;
  margin-top: 23px;
}

.shipment-template{
  display: flex;
  flex-direction: column;
}
.shipment-template label{
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin: 0;
  color: #1B4965;
}

.shipment-template input{
  margin: 5px;
}

.shipment-template button{
  margin: 5px;
  margin-top: 23px;
}

.tap-template{
  display: flex;
  flex-direction: column;
}

td select {
  height: 34px;
  width: 80px;
}

/* //väike ristiga nupp */
td button {
  width: 30px;
  padding: 8px;
  justify-content: center;
  align-content: center;
}

.tap-template table tr {
  text-align: center;
}

.tap-template input{
  margin: 5px;
  text-align: center;
  width: 110px;
}

.tap-template button{
  margin: 5px;
}

.login-template, 
.register-template{
  display: flex;
  flex-direction: column;
}

.login-template label,
.register-template label{
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin: 0;
  color: #1B4965;
}

.login-template input,
.register-template input{
  margin: 5px;
}

.login-template button,
.register-template button{
  margin: 5px;
  margin-top: 23px;
}

.login-buttons,
.register-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.login-template h1,
.register-template h1{
  color: #1B4965;
  margin: 10px;
  padding-left: 10px;
}

.tap-table{
  width: 75%;
  margin: 15px;
  margin-left: 25px;
  border-collapse: collapse;
}

.tap-table tr{
  color: #1B4965;
  text-align: left;
  border: 1px  solid #1B4965;
}
.tap-table td,
.tap-table th{
  padding: 5px;
  border: 1px  solid #1B4965;
}
#shipment-details-table{
  padding-top: 10px;
  margin-left: 25px;
  color: #1B4965;
}

#shipment-details-table td {
  padding-right: 10px;
}
.tap-number input {
  width: 70px;
}
